* {
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --Purple: #483f95;
  --Light-Purple: #6c5ce7;
  --Dark-Gray: #555;
  --Gray: #aaa;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--White);
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}

header img {
  position: relative;
  z-index: 10;
}

header .navbar-brand img,
.links img {
  height: 50px;
  width: 50px;
  z-index: -1;
}

header button.active .hamburger {
  display: none;
}

header .close {
  display: none;
}

header button.active .close {
  display: block;
}

ul {
  display: flex;
  gap: 10px;
  transition: 1s;
}

.navbar-nav .nav-item .nav-link,
footer .social .menu a {
  color: var(--Purple);
  position: relative;
  display: block;
  transition: 0.3s linear;
}

.navbar-nav .nav-item .nav-link:hover,
footer .links ul li a:hover,
footer .social .menu a:hover {
  font-weight: bold;
  cursor: pointer;
}

.navbar-nav .nav-item .nav-link::after {
  content: "";
  background-color: var(--White);
  width: 0;
  height: 3px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translate(-50%);
  transition: 0.3s linear;
}

.navbar-nav .nav-item .nav-link:hover::after,
footer .links ul li a:hover::after {
  width: 30px;
}

@media (max-width: 767px) {
  header .navbar-collapse {
    background-color: var(--Purple);
    height: 100vh;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  header .navbar-collapse.active {
    width: 100%;
    padding: 30px;
  }

  header .navbar-nav {
    width: 100%;
    opacity: 0;
  }

  header .navbar-nav.active {
    opacity: 1;
    transition: 0.3s 1s linear;
  }

  header .navbar-nav .nav-item .nav-link {
    font-size: 25px;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--White);
  }

  .navbar-nav .nav-item .nav-link:hover::after {
    width: 50px;
  }
}

/* Landing Section */
.landing {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, var(--Purple), var(--Light-Purple));
  color: var(--White);
  text-align: center;
}

.landing h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.landing p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .landing h1 {
    font-size: 2rem;
  }

  .landing p {
    font-size: 1rem;
  }
}

.btn-main {
  padding: 12px 30px;
  background-color: var(--White);
  color: var(--Purple);
  border: none;
  border-radius: 25px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.btn-main:hover {
  background-color: #ddd;
}

.info .container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 70px 20px;
  margin: 30px 0;
}

.info div {
  position: relative;
  width: 100%;
}

.info div h1,
.creations div h1,
.partners div h1,
.services div h1 {
  text-transform: uppercase;
  color: var(--Purple);
}

.info div p {
  line-height: 1.6;
  color: var(--Very-Dark-Gray);
  margin: 0;
}

.bg-overlay {
  background-color: rgba(72, 63, 149, 8%);
}

.services {
  background-image: url('../images/bg-intro.svg');
  background-repeat: no-repeat;
}

.services .row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.services .row p {
  font-size: 14px;
}

.services svg path {
  fill: var(--Purple);
}

.creations {
  position: relative;
}

@media (max-width: 767px) {
  .creations {
    padding: 30px;
    margin-bottom: 100px;
  }
}

.creations div #see-all a {
  display: block;
  padding: 15px;
  width: 160px;
  border: 1px solid var(--Purple);
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 14px;
  color: var(--Black);
  transition: 0.3s linear;
}

@media (max-width: 767px) {
  .creations div #see-all {
    position: absolute;
    bottom: 0;
  }
}

.creations div #see-all a:hover {
  background-color: var(--Purple);
  color: var(--White);
}

.creations .images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 25px;
}

.creations .images div {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  cursor: pointer;
  position: relative;
}

@media (max-width: 767px) {
  .creations .images {
    gap: 30px;
  }

  .creations .images div {
    height: 150px;
  }
}

.creations .images div:nth-child(1) {
  background-image: url("../images/img8.jpg");
}

.creations .images div:nth-child(2) {
  background-image: url("../images/img1.jpg");
}

.creations .images div:nth-child(3) {
  background-image: url("../images/img2.jpg");
}

.creations .images div:nth-child(4) {
  background-image: url("../images/img3.jpg");
}

.creations .images div:nth-child(5) {
  background-image: url("../images/img4.jpg");
}

.creations .images div:nth-child(6) {
  background-image: url("../images/img5.jpg");
}

.creations .images div:nth-child(7) {
  background-image: url("../images/img6.jpg");
}

.creations .images div:nth-child(8) {
  background-image: url("../images/img7.jpg");
}

.creations .images div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(0deg 0% 0% / 40%);
  transition: 0.3s linear;
}

.creations .images p {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 20px;
  color: var(--White);
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
  z-index: 1;
}

.creations .images div:hover::after {
  background-color: hsl(0deg 0% 100% / 70%);
  transition: 0.3s linear;
}

.creations .images div:hover p {
  color: var(--Black);
}

.partners .images img {
  width: 150px;
  height: 70px;
}

footer {
  background-color: #333;
  margin-top: 100px;
  text-align: center;
  border-top: 4px solid var(--Purple);
  position: relative;
}

footer::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #a5519b;
}

footer p {
  color: var(--Light-Purple);
}

footer ul li a {
  color: var(--White);
  position: relative;
}

footer ul li a:hover {
  color: var(--Light-Purple);
}

footer .social .menu a {
  width: fit-content;
  position: relative;
}

footer .social .menu a:hover::after {
  width: 15px;
}

footer .social p {
  color: var(--Gray);
  font-size: 14px;
}
